// Footer
footer.footer
  .container

    .footer__top
      div
        .footer__title.j-footer-nav О НАС
        .footer__nav
          ul
            li: a(href="#!") Личностное многообразие и принятие
            li: a(href="#!") Доступность
            li: a(href="#!") Доверие и безопасность
            li: a(href="#!") Пресс-центр
      div
        .footer__title.j-footer-nav ОРГАНИЗАЦИЯ
        .footer__nav
          ul
            li: a(href="#!") Впечатление
            li: a(href="#!") Ответственный прием гостей
            li: a(href="#!") Развлекательные мероприятия 
            li: a(href="#!") Центр ресурсов
      div
        .footer__title.j-footer-nav ПОДДЕРЖКА
        .footer__nav
          ul
            li: a(href="#!") Центр помощи
            li: a(href="#!") Поддержка посетителей
      div
        .footer__title 8041, Cyprus, Paphos, Ayiou Ayapitikou, 31
        .social
          a(href="#!")
            i.icon-instagram
          a(href="#!")
            i.icon-facebook
      div
        .footer__bonus
          .footer__bonus-title Бонусная программа
            b.b SLR-CLUB
          .footer__bonus-app
            div
              a(href="#!" target="_blank")
                img(src="./tmp/app-apple.png", alt="")
            div
              a(href="#!" target="_blank")
                img(src="./tmp/app-google.png", alt="")
    
    .footer__bottom
      div © 2020 Комплекс Апартаментов Sofia Luxury Residence, Paphos. Официальный сайт.
      div Разработка и поддержка 
        a(href="#!" target="_blank") Piarme
  
