// Footer
footer.footer
  .container

    .footer__top
      .footer__top-row.--first
        div.div1
          .footer__title.text-uppercase.j-footer-nav О нас
          .footer__nav
            ul
              li: a(href="#!") Личностное многообразие и принятие
              li: a(href="#!") Доступность
              li: a(href="#!") Доверие и безопасность
              li: a(href="#!") Пресс-центр
        div.div2
          .footer__title.text-uppercase.j-footer-nav Организация
          .footer__nav
            ul
              li: a(href="#!") Впечатление
              li: a(href="#!") Ответственный прием гостей
              li: a(href="#!") Развлекательные мероприятия 
              li: a(href="#!") Центр ресурсов
        div.div3
          .footer__title.text-uppercase.j-footer-nav Поддержка
          .footer__nav
            ul
              li: a(href="#!") Центр помощи
              li: a(href="#!") Поддержка посетителей
      .footer__top-row.--second
        div.div4
          .footer__title 8041, Cyprus, Paphos, Ayiou Ayapitikou, 31
          .social.footer__social
            a(href="#!")
              i.icon-instagram
            a(href="#!")
              i.icon-facebook
        div.div5
          .footer__bonus
            .footer__bonus-title Бонусная программа
              b.b SLR-CLUB
            .footer__bonus-app
              div
                a(href="#!" target="_blank")
                  img(src="./tmp/app-apple.png", alt="")
              div
                a(href="#!" target="_blank")
                  img(src="./tmp/app-google.png", alt="")
    
    .footer__bottom
      div © 2020 Комплекс Апартаментов Sofia Luxury Residence, Paphos. Официальный сайт.
      div Разработка и поддержка 
        a(href="#!" target="_blank") Piarme
  
