//- .loader
//-   .bouncing-loader
//-     div
//-     div
//-     div

#map.modal.modal--map.mfp-hide
  .modal__wrapper
    .modal-map
      .modal__map-container
        p text
      #yamaps.modal__map