doctype

html(lang="ru")

  -var active = 'Все апартаменты' //активный пункт меню, список в header.jade
  -var pageTitle = 'Все апартаменты' + ' - SOFIA' //title страницы для генерации верстки

  include ./_include/_head

  body

    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Top row
      .top-row
        .top-row__wrapper
          img(src="./tmp/img-apartments-all.png", alt="")
        .top-row__title
          .container
            h1 Все апартаменты 

      // Content
      .content
        .container

          .content__inside 
            .content__head.--outside
              .h1 Продажа апартаментов
            p Построены и оборудованы по самым современным техническим и дизайнерским решениям.
            p Инвестиции в размере от €2 млн. нужно сохранять всего 5 лет. После 5 лет вы можете продать часть недвижимости, оставив себе жилье на сумму €500 тысяч. Инвесторы должны будут сохранять свои инвестиции в течение 5 лет после натурализации. Необходимо внести пожертвования (невозвратные взносы): €75 тысяч в Фонд содействия исследованиям и €75 тысяч в Кипрскую землеустроительную корпорацию.

            .all-apartments__info
              div.first
                .content__head.--outside.--color
                  .h1 Планировка БЛОК «А» 
              div.last
                p Построены и оборудованы по самым современным техническим и дизайнерским решениям.
                p Инвестиции в размере от €2 млн. нужно сохранять всего 5 лет. После 5 лет вы можете продать часть недвижимости, оставив себе жилье на сумму €500 тысяч. Инвесторы должны будут сохранять свои инвестиции в течение 5 лет после натурализации. Необходимо внести пожертвования (невозвратные взносы): €75 тысяч в Фонд содействия исследованиям и €75 тысяч в Кипрскую землеустроительную корпорацию.

            // Apartment row
            .content__head.--outside
              .h2 Апартаменты А101
            .all-apartments__row
              .first
                .all-apartments__row-thumb.--big
                  img(src="./tmp/img-apartments-all-img-1.png", alt="")
                .all-apartments__row-option
                  div
                    .option-info
                      i.icon-properties-14
                      div Гостиная с 
                        br
                        | кухней
                  div
                    .option-info
                      i.icon-properties-2
                      div 2 спальни
                  div
                    .option-info
                      i.icon-properties-4
                      div 2 ванные 
                        br
                        | комнаты
                  div
                    .option-info
                      i.icon-properties-5
                      div 101,29 кв2
                  div
                    .option-info
                      i.icon-properties-15
                      div Терраса
                .d-md-none
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €
                    a(href="#!").btn.btn--block Подробнее
              .last
                .all-apartments__row-thumb.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                .all-apartments__row-thumb.last.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                  a(href="#!").btn.btn--block Подробнее
                .d-none.d-md-block
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €

            // Apartment row
            .content__head.--outside
              .h2 Апартаменты А201
            .all-apartments__row
              .first
                .all-apartments__row-thumb.--big
                  img(src="./tmp/img-apartments-all-img-1.png", alt="")
                .all-apartments__row-option
                  div
                    .option-info
                      i.icon-properties-14
                      div Гостиная с 
                        br
                        | кухней
                  div
                    .option-info
                      i.icon-properties-2
                      div 2 спальни
                  div
                    .option-info
                      i.icon-properties-4
                      div 2 ванные 
                        br
                        | комнаты
                  div
                    .option-info
                      i.icon-properties-5
                      div 101,29 кв2
                  div
                    .option-info
                      i.icon-properties-15
                      div Терраса
                .d-md-none
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €
                    a(href="#!").btn.btn--block Подробнее
              .last
                .all-apartments__row-thumb.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                .all-apartments__row-thumb.last.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                  a(href="#!").btn.btn--block Подробнее
                .d-none.d-md-block
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €
                      
            // Apartment row
            .content__head.--outside
              .h2 Апартаменты А301
            .all-apartments__row
              .first
                .all-apartments__row-thumb.--big
                  img(src="./tmp/img-apartments-all-img-1.png", alt="")
                .all-apartments__row-option
                  div
                    .option-info
                      i.icon-properties-14
                      div Гостиная с 
                        br
                        | кухней
                  div
                    .option-info
                      i.icon-properties-2
                      div 2 спальни
                  div
                    .option-info
                      i.icon-properties-4
                      div 2 ванные 
                        br
                        | комнаты
                  div
                    .option-info
                      i.icon-properties-5
                      div 101,29 кв2
                  div
                    .option-info
                      i.icon-properties-15
                      div Терраса
                .d-md-none
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €
                    a(href="#!").btn.btn--block Подробнее
              .last
                .all-apartments__row-thumb.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                .all-apartments__row-thumb.last.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                  a(href="#!").btn.btn--block Подробнее
                .d-none.d-md-block
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €

            .all-apartments__info
              div.first
                .content__head.--outside.--color
                  .h1 Планировка БЛОК «Б»
              div.last
                p Построены и оборудованы по самым современным техническим и дизайнерским решениям.
                p Инвестиции в размере от €2 млн. нужно сохранять всего 5 лет. После 5 лет вы можете продать часть недвижимости, оставив себе жилье на сумму €500 тысяч. Инвесторы должны будут сохранять свои инвестиции в течение 5 лет после натурализации. Необходимо внести пожертвования (невозвратные взносы): €75 тысяч в Фонд содействия исследованиям и €75 тысяч в Кипрскую землеустроительную корпорацию.

            // Apartment row
            .content__head.--outside
              .h2 Апартаменты B101
            .all-apartments__row
              .first
                .all-apartments__row-thumb.--big
                  img(src="./tmp/img-apartments-all-img-1.png", alt="")
                .all-apartments__row-option
                  div
                    .option-info
                      i.icon-properties-14
                      div Гостиная с 
                        br
                        | кухней
                  div
                    .option-info
                      i.icon-properties-2
                      div 2 спальни
                  div
                    .option-info
                      i.icon-properties-4
                      div 2 ванные 
                        br
                        | комнаты
                  div
                    .option-info
                      i.icon-properties-5
                      div 101,29 кв2
                  div
                    .option-info
                      i.icon-properties-15
                      div Терраса
                .d-md-none
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €
                    a(href="#!").btn.btn--block Подробнее
              .last
                .all-apartments__row-thumb.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                .all-apartments__row-thumb.last.--small
                  img(src="./tmp/img-apartments-all-img-small-1.png", alt="")
                  a(href="#!").btn.btn--block Подробнее
                .d-none.d-md-block
                  .all-apartments__row-price
                    b.b 1 000 000 
                      small €

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

