doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - SOFIA' //title страницы для генерации верстки
  -var index = true;

  include ./_include/_head

  body
    // Preloader
    include ./_include/_preloader
    +modalMap

    .base
      include ./_include/_header

      // Main row
      .main-row(style="background-image: url('./tmp/main-row.png');")
        .container.main-row__container
          p 1

      // Content
      .content-main
        .content-main__head

        .container
          // Section
          .section
            .content__inside

              // Main about
              .main-about
                .row
                  .col-12.col-lg-6.order-lg-2.col-xxl-7
                    .main-about__content
                      .d-lg-none
                        .content__head.--outside
                          .h1.--xs-fs26 Устройте себе отпуск, который не сможете забыть!
                      p Комплекс Апартаментов SOFIA Luxury Residence расположен в тихом районе Като Пафос города Пафос, недалеко от средневекового замка Пафоса и церкви Агия Соломони.
                      p Апартаменты находятся в непосредственной близости от Археологического парка и в 700 метрах от теплого средиземного моря. На закрытой охраняемой территории комплекса к услугам для гостей располагается сезонный открытый бассейн с подогревом и гидромассажем, в котором вы можете позволить себе наслаждаться приятным отдыхом круглый год.
                      p Климат в апартаментах поддерживается современными VRV системами, а в зимние вечера уют обеспечат центральный подогрев полов и современная система «Умный Дом». Бесплатный паркинг оснащен пунктом для зарядки электромобилей. Во всех апартаментах бесплатный Wi-Fi.

                      .clear

                      .d-none.d-xxl-block
                        .main-about__option
                          div
                            .option-info
                              i.icon-properties-6
                              div 5 минут 
                                br
                                | до море
                          div
                            .option-info
                              i.icon-properties-7
                              div Аппартаменты 
                                br
                                | премиум класса
                          div
                            .option-info
                              i.icon-properties-10
                              div Бесплатный 
                                br
                                | Wi-Fi
                          div
                            .option-info
                              i.icon-properties-11
                              div Номера для 
                                br
                                | некурящих
                          div
                            .option-info
                              i.icon-properties-8
                              div Бассейн с 
                                br
                                | гидромассажем
                          div
                            .option-info
                              i.icon-properties-9
                                span.path1
                                span.path2
                              div Бонусная 
                                br
                                | программа
                          div
                            .option-info
                              i.icon-properties-12
                              div Хранение 
                                br
                                | багажа
                          div
                            .option-info
                              i.icon-properties-13
                              div Бесплатная 
                                br
                                | парковка
                  .col-12.col-lg-6.order-lg-1.col-xxl-5
                    .d-none.d-lg-block
                      .content__head.--outside
                        .h1.--xs-fs26 Устройте себе отпуск, который не сможете забыть!
                    .on-map
                      .on-map__wrapper
                        a(href="#mapModal").btn.js-popup-yamaps на карте

                .d-xxl-none
                  .main-about__option
                    div
                      .option-info
                        i.icon-properties-6
                        div 5 минут 
                          br
                          | до море
                    div
                      .option-info
                        i.icon-properties-7
                        div Аппартаменты 
                          br
                          | премиум класса
                    div
                      .option-info
                        i.icon-properties-10
                        div Бесплатный 
                          br
                          | Wi-Fi
                    div
                      .option-info
                        i.icon-properties-11
                        div Номера для 
                          br
                          | некурящих
                    div
                      .option-info
                        i.icon-properties-8
                        div Бассейн с 
                          br
                          | гидромассажем
                    div
                      .option-info
                        i.icon-properties-9
                          span.path1
                          span.path2
                        div Бонусная 
                          br
                          | программа
                    div
                      .option-info
                        i.icon-properties-12
                        div Хранение 
                          br
                          | багажа
                    div
                      .option-info
                        i.icon-properties-13
                        div Бесплатная 
                          br
                          | парковка

          // Section
          .section
            .row
              .col-12.col-md-6.col-lg-7.col-xl-8

                .content__inside
                  .content__head.--outside
                    .h2 В проживание включено
                  .column-xl-2.column-xxl-2
                    p Завтрак "шведский стол"
                      br
                      | Посещение бассейна, кедровой финской сауны, 
                    p Аромасауны, хамама, джакузи с 7:30 до 10:00 утра
                      br
                      | Тренажерного зала с 7:30 до 23:00.

                  .content__head.--outside
                    .h2 Большенство отметило
                  .column-xl-2.column-xxl-2
                    p
                      strong Отличное расположение
                      br
                      | 95% недавних гостей оценили расположение жилья на пять звезд.
                    p
                      strong Прибытие организовано отлично
                      br
                      | 100% недавних гостей оценили прибытие на пять звезд.
                    p
                      strong Жилье целиком
                      br
                      | Кондоминиум полностью в вашем распоряжении.
                    p
                      strong Самостоятельное прибытие
                      br
                      | Легкое самостоятельное прибытие с помощью мини-сейфа.

                  .content__head.--outside
                    .h2 Все удобства и услуги
                  .column-xl-2.column-xxl-2
                    p
                      strong Домашние животные
                      br
                      | Размещение домашних животных не допускается. Интернет
                    p Бесплатно! Wi-Fi предоставляется на территории всего отеля бесплатно.
                    p
                      strong Стойка регистрации
                      br 
                      | Хранение багажа
                      br
                      | Ускоренная регистрация заезда/отъезда
  

  

  

                  
                  p ------------- Показать больше --------------

              .col-12.col-md-6.col-lg-5.col-xl-4
                // Comments
                .comments
                  .comments__collumn
                    h2 Отзывы
                    .comments__block
                      .comments__block-thumb
                        img(src="./tmp/user-img-1.png", alt="")
                      .comments__block-wrapper
                        .comments__block-head
                          .comments__block-title 
                            b Петручио
                            small.small Гваделупа
                          .comments__block-star
                            i.icon-star
                            b 5.0
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут Далеко-далеко за словесными горами в стране гласных и согласных живут
                    .comments__block
                      .comments__block-thumb
                        img(src="./tmp/user-img-2.png", alt="")
                      .comments__block-wrapper
                        .comments__block-head
                          .comments__block-title 
                            b Петручио
                            small.small Гваделупа
                          .comments__block-star
                            i.icon-star
                            b 5.0
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут Далеко-далеко за словесными горами в стране гласных и согласных живут
                    .comments__block
                      .comments__block-thumb
                        img(src="./tmp/user-img-3.png", alt="")
                      .comments__block-wrapper
                        .comments__block-head
                          .comments__block-title 
                            b Петручио
                            small.small Гваделупа
                          .comments__block-star
                            i.icon-star
                            b 5.0
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут Далеко-далеко за словесными горами в стране гласных и согласных живут
                    .comments__block
                      .comments__block-thumb
                        img(src="./tmp/user-img-4.png", alt="")
                      .comments__block-wrapper
                        .comments__block-head
                          .comments__block-title 
                            b Петручио
                            small.small Гваделупа
                          .comments__block-star
                            i.icon-star
                            b 5.0
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут Далеко-далеко за словесными горами в стране гласных и согласных живут
                    .comments__block
                      .comments__block-thumb
                        img(src="./tmp/user-img-5.png", alt="")
                      .comments__block-wrapper
                        .comments__block-head
                          .comments__block-title 
                            b Петручио
                            small.small Гваделупа
                          .comments__block-star
                            i.icon-star
                            b 5.0
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут Далеко-далеко за словесными горами в стране гласных и согласных живут
                    a(href="#!").btn.btn--border.btn--md.btn--block все отзывы

          // One service form
            .main-form
              .main-form__img
                img(src="./tmp/one-service-form.png", alt="")
              .main-form__wrapper
                form(action="#!")
                  legend Бронируйте современные 
                    span.color--pink роскошные апартаменты 
                    | и будущие 
                    span.color--pink Ваши яркие впечатления
                  fieldset
                    .row
                      .col-12.col-xl-6
                        .form-group
                          +field-text({
                            title: 'Ваше имя',
                            hasJs: false,
                            isTextarea: false,
                            hasError: false,
                            helpText: '',
                            mods: 'md,has-icon',
                            val: '',
                            attrs: {
                              name: 'rent-name',
                              placeholder: ''
                            }
                          })()
                            i.icon-user
                      .col-12.col-xl-6
                        .form-group
                          +field-text({
                            title: 'Телефон',
                            hasJs: false,
                            isTextarea: false,
                            hasError: false,
                            helpText: '',
                            mods: 'md,has-icon',
                            val: '',
                            attrs: {
                              name: 'rent-phone',
                              placeholder: ''
                            }
                          })()
                            i.icon-phone
                      .col-12
                        .form-group.mb30
                          +field-text({
                            title: 'Желаемая дата',
                            hasJs: false,
                            isTextarea: false,
                            hasError: false,
                            helpText: '',
                            mods: 'md,has-icon',
                            val: '',
                            attrs: {
                              name: 'rent-date',
                              placeholder: '',
                              readonly: 'readonly',
                              class: 'datepicker-input'
                            }
                          })()
                            i.icon-calendar
                    .form-group.mb15
                      button(type="button").btn.btn--block Проверить цены
                    +field-checkbox({
                      title: 'Согласен на обработку персональных данных',
                      isLink: false,
                      mods: '',
                      attrs: {
                        name: 'checkbox',
                        checked: true,
                      }
                    })
            
        // Section
        .section
          .container
            // Services carousel
            .services-row
              .services-row__head
                .content__head
                  .h1.--xs-fs26 Услуги которые вас могут заинтересовать
              .services-row__wrapper
                .j-services-row.row
                  .col-12
                    .services__block.mb0
                      .services__block-thumb
                        a(href="#!")
                          img(src="./tmp/services-img-1.png", alt="")
                      .services__block-title
                        a(href="#!") Организация праздника
                  .col-12
                    .services__block.mb0
                      .services__block-thumb
                        a(href="#!")
                          img(src="./tmp/services-img-2.png", alt="")
                      .services__block-title
                        a(href="#!") Доставка еды
                  .col-12
                    .services__block.mb0
                      .services__block-thumb
                        a(href="#!")
                          img(src="./tmp/services-img-3.png", alt="")
                      .services__block-title
                        a(href="#!") Встреча из аэропорта
                  .col-12
                    .services__block.mb0
                      .services__block-thumb
                        a(href="#!")
                          img(src="./tmp/services-img-1.png", alt="")
                      .services__block-title
                        a(href="#!") Организация праздника

        // Section
        .section

          // Instagram carousel
          .insta
            .insta__row
              .insta__head
                .insta__head-wrapper Не верите словам, посмотрите эти превосходные фото в нашем Инстаграм
                  strong
                    a(href="#!" target="_blank") @sofia_luxury_residence
              .insta__wrapper
                .insta-swiper.swiper-container
                  .swiper-wrapper
                    .swiper-slide.--first
                      .insta__block.--one
                        img(src="./tmp/insta-img-1.png", alt="").first
                        img(src="./tmp/insta-img-2.png", alt="").last
                    .swiper-slide
                      .insta__block.--two
                        img(src="./tmp/insta-img-2.png", alt="").first
                        img(src="./tmp/insta-img-3.png", alt="").last
                    .swiper-slide
                      .insta__block.--three
                        img(src="./tmp/insta-img-3.png", alt="").first
                        img(src="./tmp/insta-img-4.png", alt="").last
                    .swiper-slide
                      .insta__block.--four
                        img(src="./tmp/insta-img-4.png", alt="").first
                        img(src="./tmp/insta-img-5.png", alt="").last
                    .swiper-slide
                      .insta__block.--five
                        img(src="./tmp/insta-img-5.png", alt="").first
                        img(src="./tmp/insta-img-1.png", alt="").last
                    .swiper-slide
                      .insta__block.--six
                        img(src="./tmp/insta-img-1.png", alt="").first
                        img(src="./tmp/insta-img-2.png", alt="").last
                    .swiper-slide
                      .insta__block.--one
                        img(src="./tmp/insta-img-1.png", alt="").first
                        img(src="./tmp/insta-img-2.png", alt="").last
                    .swiper-slide
                      .insta__block.--two
                        img(src="./tmp/insta-img-2.png", alt="").first
                        img(src="./tmp/insta-img-3.png", alt="").last
                    .swiper-slide
                      .insta__block.--three
                        img(src="./tmp/insta-img-3.png", alt="").first
                        img(src="./tmp/insta-img-4.png", alt="").last
                    .swiper-slide
                      .insta__block.--four
                        img(src="./tmp/insta-img-4.png", alt="").first
                        img(src="./tmp/insta-img-5.png", alt="").last
                    .swiper-slide
                      .insta__block.--five
                        img(src="./tmp/insta-img-5.png", alt="").first
                        img(src="./tmp/insta-img-1.png", alt="").last
                    .swiper-slide
                      .insta__block.--six
                        img(src="./tmp/insta-img-1.png", alt="").first
                        img(src="./tmp/insta-img-2.png", alt="").last
                    .swiper-slide
                      .insta__block.--one
                        img(src="./tmp/insta-img-1.png", alt="").first
                        img(src="./tmp/insta-img-2.png", alt="").last
                    .swiper-slide
                      .insta__block.--two
                        img(src="./tmp/insta-img-2.png", alt="").first
                        img(src="./tmp/insta-img-3.png", alt="").last
                    .swiper-slide
                      .insta__block.--three
                        img(src="./tmp/insta-img-3.png", alt="").first
                        img(src="./tmp/insta-img-4.png", alt="").last
                    .swiper-slide
                      .insta__block.--four
                        img(src="./tmp/insta-img-4.png", alt="").first
                        img(src="./tmp/insta-img-5.png", alt="").last
                    .swiper-slide
                      .insta__block.--five
                        img(src="./tmp/insta-img-5.png", alt="").first
                        img(src="./tmp/insta-img-1.png", alt="").last
                    .swiper-slide
                      .insta__block.--six
                        img(src="./tmp/insta-img-1.png", alt="").first
                        img(src="./tmp/insta-img-2.png", alt="").last
                .insta-swiper__next
                .insta-swiper__prev

        // Map
        .map-main
          .container
            .map-main__block
              h2 8041, Cyprus, Paphos, Ayiou Ayapitikou, 31
              table
                tbody
                  tr
                    td Москва:
                    td
                      a(href="tel:") +7 (495) 142-25-70
                  tr
                    td Кипр, Пафос: 
                    td
                      a(href="tel:") +357-99-855-277
                  tr
                    td Аренда: 
                    td
                      a(href="mailto:") reservation@sofiaresidence.ru
                  tr
                    td Продажа:
                    td 
                      a(href="mailto:") sales@sofiaresidence.ru

          #map.map-main__container

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

    script(src='https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU' type='text/javascript')
    script(type='text/javascript').
      ymaps.ready(init);
      function init(){ 
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7
          }),

          myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Sofia Luxury residence'
          }, {
            iconLayout: 'default#image',
            iconImageHref: './tmp/map-marker.png',
            iconImageSize: [225, 225],
            iconImageOffset: [-112, -225]
          });

        myMap.geoObjects
          .add(myPlacemark);
        
        myMap.behaviors.disable('drag');
        myMap.behaviors.disable('scrollZoom');
      }
      var myMap2;
      ymaps.ready(init2);
      
      function init2 () {
          myMap2 = new ymaps.Map('yamaps', {
            center: [55.76, 37.64],
            zoom: 7
          }),

          myPlacemark = new ymaps.Placemark(myMap2.getCenter(), {
            hintContent: 'Sofia Luxury residence'
          }, {
            iconLayout: 'default#image',
            iconImageHref: './tmp/map-marker.png',
            iconImageSize: [225, 225],
            iconImageOffset: [-112, -225]
          });

        myMap2.geoObjects
          .add(myPlacemark);
        
        myMap2.behaviors.disable('drag');
        myMap2.behaviors.disable('scrollZoom');
      }