doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - SOFIA' //title страницы для генерации верстки

  include ./_include/_head

  body

    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Top row
      .top-row
        .top-row__wrapper
          img(src="./tmp/img-apartments.png", alt="")
        .top-row__title
          .container
            h1 Апартаменты 

      // Content
      .content
        .container

          .row
            .col-12.col-md-6
              .content__inside 
                .content__head
                  .h1 19 Премиум апартаментов
                p Построены и оборудованы по самым современным техническим и дизайнерским решениям.
                p Инвестиции в размере от €2 млн. нужно сохранять всего 5 лет. После 5 лет вы можете продать часть недвижимости, оставив себе жилье на сумму €500 тысяч. Инвесторы должны будут сохранять свои инвестиции в течение 5 лет после натурализации. Необходимо внести пожертвования (невозвратные взносы): €75 тысяч в Фонд содействия исследованиям и €75 тысяч в Кипрскую землеустроительную корпорацию.
            .col-12.col-md-6

              .col-container.--right
                .content__thumb.--video
                  a(href="https://www.youtube.com/watch?v=0-7IHOXkiV8").popup-youtube
                    img(src="./tmp/apartments-thumb-1.png", alt="")
                .content__thumb.--threed.--last
                  a(href="#!")
                    img(src="./tmp/apartments-thumb-2.png", alt="")

          .row
            .col-12
              .content__inside 
                .apartments__info.--inside
                  div.first.nowrap Стоимость за 
                    br
                    | квадратный метр 
                  div.last.nowrap от 
                    b.b 4 500
                      small €

                .content__head
                  h2 Собственная управляющая компания
                p Мы предлагаем удобный формат по коммерческому управлению Вашей недвижимостью, а именно: Обслуживаемые Апартаменты. Это прекрасная возможность для тех, кто любит несколько раз в год летать на море на отдых, каждый раз останавливаться в собственной квартире и получать полный спектр услуг, не уступающий гостиничному.
                p Преимущество покупки апартаментов в нашем Комплексе в рамках паспортной программы Кипра «гражданство за инвестиции»: предлагаемые к продаже апартаменты относятся к премиум-сегменту, полностью оснащены для комфортного проживания и не требуют дополнительных вложений.
                p Наша Управляющая компания полностью берёт на себя обязательства по аренде и обслуживанию апартаментов и проведение расчетов с Гостями. Вы будете получать доход в виде процента, установленного Договором Доверительного управления.
                p Приобретая у нас апартаменты в собственность, Вы заключаете с нашей Компанией Договор управления на услуги по обслуживанию вашей недвижимости.

                .content__head
                  h2 Наши услуги
                ol
                  li Ответ на запросы об аренде
                  li Получение соответствующих лицензий для краткосрочной аренды
                  li Управление арендой и отношений с клиентами
                  li Заселение и выселение клиентов
                  li Подготовка и личное администрирование соглашений аренды
                  li Инспекции домовладения примерно с еженедельной периодичностью

          .apartments__bottom
            img(src="./tmp/apartments-scheme.png", alt="").img-fluid

      include ./_include/_footer
      div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

