/* buttons */

button {
  @include button-reset;
  &:focus {
    outline: none;
  }
}

.btn {
  text-decoration: none;
  color: $color-white;
  background: #AD009F linear-gradient(270deg, #AD009F 0%, #EA1FD9 100%);
  box-shadow: 0px 6px 15px rgba(233, 31, 216, 0.7);
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  height: 50px;
  font-weight: 900;
  font-size: rem(16px);
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  min-width: 150px;
  padding: 0 20px;
  transition: all 0.35s;
  &:hover {
    background: #EA1FD9;
    box-shadow: 0px 0 0 rgba(233, 31, 216, 0.7);
  }
  &--block {
    width: 100%;
  }
  &[href] {
    line-height: 49px;
    &:hover {
      color: $color-white;
    }
  }
  &--border {
    background: transparent;
    color: $add-color-pink;
    border: 1px solid $add-color-pink;
    box-shadow: none;
    &:hover {
      color: $color-white;
      background: #EA1FD9;
      border-color: #EA1FD9;
    }
  }
  &--on-map {
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    color: $add-color-brown;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    height: 35px;
    line-height: 37px;
    &[href] {
      line-height: 37px;
    }
    .icon-map {
      font-weight: 400;
      font-size: 27px;
      margin-right: 10px;
      vertical-align: -6px;
    }
    &:hover {
      background: transparent;
      color: $add-color-blue;
      box-shadow: none;
      &[href] {
        color: $add-color-blue;
      }
    }
  }
  &--md {
    height: 40px;
    font-size: 14px;
    &[href] {
      line-height: 39px;
    }
  }
}