/* footer */
.footer {
  background-color: $color-white;
  border-top: 1px solid rgba($add-color-blue,.3);
  &__top {
    padding-top: 37px;
    padding-bottom: 40px;
    max-width: 346px;
    margin: 0 auto;
  }
  &__bottom {
    border-top: 1px solid rgba($add-color-blue,.3);
    padding: 15px 0;
    font-size: rem(14px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    a {
      text-decoration: none;
    }
    &>div {
      &+div {
        margin-top: 5px;
      }
    }
  }
  &__bonus {
    border: 5px solid #A0CFED;
    border-radius: 6px;
    text-align: center;
    font-size: rem(13px);
    padding: 15px 10px 30px;
    font-weight: 900;
    text-transform: uppercase;
    &-title {
      line-height: 1.3;
      margin-bottom: 10px;
      .b {
        display: block;
        font-size: rem(20px);
      }
    }
    &-app {
      display: flex;
      align-items: center;
      justify-content: center;
      &>div {
        &+div {
          margin-left: 15px;
        }
      }
      img {
        display: block;
      }
    }
  }
  &__title {
    position: relative;
    padding-left: 90px;
    font-weight: bold;
    font-size: rem(20px);
    line-height: 1.4;
    margin-bottom: 20px;
    &::before, &::after {
      content: '';
      top: 14px;
      width: 60px;
      height: 2px;
      position: absolute;
      left: 18px;
      background: $primary-color;
      transition: all 0.35s;
    }
    &::after {
      opacity: 0;
      width: 2px;
      height: 20px;
      left: 69px;
      top: 5px;
    }
    &.is-active {
      color: $add-color-blue;
      &::before {
        width: 20px;
        left: 60px;
        background: $add-color-blue;
      }
      &::after {
        opacity: 1;
        background: $add-color-blue;
      }
    }
  }
  &__nav {
    font-size: rem(14px);
    display: none;
    ul {
      margin: 0 0 15px 0;
      padding-left: 18px;
      li {
        list-style: none;
        margin: 0 0 10px 0;
        &:last-child {
          margin-bottom: 0;
        }
        &>a, &>span {
          text-decoration: none;
        }
        &.active {
          &>a, &>span {
            text-decoration: underline;
          }
        }
        &>a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &__social {
    padding-left: 90px;
    margin-bottom: 30px;
    margin-top: -10px;
  }
  @include media-breakpoint-up(md) {
    &__top {
      max-width: inherit;
      display: flex;
      margin: 0 -15px;
      &-row {
        padding: 0 15px;
        width: 50%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__nav {
      display: block !important;
      ul {
        padding-left: 0;
        margin-bottom: 35px;
      }
    }
    &__title {
      font-size: rem(14px);
      padding-left: 42px;
      line-height: 1.7;
      &::before {
        width: 30px;
        left: 0;
        top: 10px;
      }
    }
    &__top {
      padding-bottom: 0;
      padding-top: 45px;
      margin: 0;
      &-row {
        width: auto;
        display: flex;
        padding: 0;
        .div1, .div2, .div3, .div4 {
          padding-right: 15px;
          min-width: 160px;
        }
        .div3 {
          flex-shrink: 0;
        }
        .div4 {
          width: 205px;
          margin-right: -40px;
        }
        .div5 {
          width: 206px;
          position: relative;
          min-height: 245px;
        }
        &.--first {
          flex-grow: 1;
          &>div {
            flex-grow: 1;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      &>div {
        &+div {
          margin: 0;
        }
      }
    }
    &__bonus {
      width: 216px;
      height: 256px;
      border: 0;
      border-radius: 0;
      background: url('../images/footer-bonus.png') 0 0 no-repeat;
      font-size: rem(12px);
      padding-left: 39px;
      margin-top: -8px;
      padding-top: 56px;
      margin-right: -10px;
      position: absolute;
      bottom: 0;
      left: 0;
      &-title {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        .b {
          font-size: rem(18px);
        }
      }
      &-app {
        flex-direction: column;
        align-items: center;
        img {
          width: 73px;
        }
        &>div {
          &+div {
            margin: 10px 0 0 0;
          }
        }
      }
    }
    &__social {
      padding-left: 42px;
    }
  }
  @include media-breakpoint-up(lg) {
    
  }
}

.social {
  font-size: 0;
  a {
    text-decoration: none;
    display: inline-block;
    font-size: rem(35px);
    text-align: center;
    color: $add-color-blue;
    &+a {
      margin-left: 10px;
    }
  }
}