/* header */
.header {
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &-holder {
    height: 100px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100px;
  }
  &__menu {
    display: none;
  }
  &__phones {
    display: none;
  }
  &__logo {
    flex-grow: 1;
  }
  &__lang {
    margin-left: 22px;
  }
  &__nav {
    margin-left: 22px;
  }
}

.lang {
  $this: &;
  position: relative;
  box-shadow: 0 0 0 1px rgba($primary-color,.3);
  filter: drop-shadow(0px 0 0 rgba($primary-color,.05));
  padding: 2px;
  border-radius: 25px;
  transition: all 0.35s;
  &__head {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    border-radius: 50%;
    background-color: $color-white;
    border: 1px solid $color-white;
    font-weight: 900;
    font-size: rem(14px);
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: all 0.35s;
  }
  &__ul {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 2px;
    top: 0;
    left: 0;
    background-color: $color-white;
    border-radius: 25px;
    padding-top: 44px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
    li {
      list-style: none;
      margin: 0;
      &>a, &>span {
        display: block;
        text-align: center;
        height: 40px;
        line-height: 39px;
        border-radius: 50%;
        font-weight: 900;
        font-size: rem(14px);
        text-decoration: none;
        text-transform: uppercase;
        background: $color-white;
        border: 1px solid $color-white;
        transition: all 0.35s;
        &:hover {
          background: $add-color-pink;
          color: $color-white;
          text-decoration: none;
        }
      }
    }
  }
  &:hover {
    #{$this} {
      &__head {
        background: $add-color-blue;
      }
    }
  }
  &.is-active {
    box-shadow: 0 0 0 0px rgba($primary-color,.3);
    filter: drop-shadow(0px 8px 15px rgba($primary-color,.05));
    #{$this} {
      &__ul {
        visibility: visible;
        opacity: 1;
      }
      &__head {
        background: $add-color-blue;
      }
    }
    
  }
}

.logo {
  flex-shrink: 0;
}