/* header */
.header {
  $this: &;
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 0 0px rgba($color-black,0.3);
  transition: all 0.35s;
  &.is-scroll {
    box-shadow: 0 0 10px rgba($color-black,0.3);
  }
  &.--main {
    position: absolute !important;
  }
  &-holder {
    height: 100px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100px;
  }
  &__menu {
    display: none;
    font-size: 0;
    font-weight: 900;
    ul {
      white-space: nowrap;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        &>a, &>span {
          font-size: rem(16px);
          text-decoration: none;
          display: block;
          height: 40px;
          line-height: 40px;
          padding: 0 8px;
        }
        &.active {
          &>a, &>span {
            color: $add-color-pink;
          }
        }
      }
    }
    .--main & {
      ul {
        li {
          &>a, &>span {
            color: $color-white;
          }
          &>a {
            &:hover {
              color: $add-color-pink;
            }
          }
          &.active {
            &>a, &>span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &__phones {
    display: none;
    font-size: rem(18px);
    a {
      text-decoration: none;
      b {
        font-size: rem(20px);
      }
    }
    .--main & {
      a {
        color: $color-white;
        &:hover {
          color: $add-color-pink;
        }
      }
    }
  }
  &__logo {
    flex-grow: 1;
    flex-shrink: 0;
    img {
      width: 56px;
      height: 56px;
      background-size: cover;
    }
  }
  &__lang {
    margin-left: 22px;
  }
  &__nav {
    margin-left: 20px;
  }
  &.--main {
    background-color: transparent;
    #{$this} {
      
    }
    &+.header-holder {
      display: none;
    }
  }
  @include media-breakpoint-up(sm) {
    &__logo {
      flex-grow: 0;
      margin-right: 10px;
    }
    &__phones {
      display: block;
      flex-grow: 1;
    }
  }
  @include media-breakpoint-up(md) {
    &__logo {
      margin-right: 15px;
    }
    &__lang {
      margin-left: 32px;
    }
    &__phones {
      flex-grow: 0;
      a {
        b {
          font-size: rem(24px);
        }
      }
      .--main & {
        flex-grow: 1;
      }
    }
    &__search {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
    &__nav {
      margin-left: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    &__phones {
      .--main & {
        flex-grow: 0;
      }
    }
    &__menu {
      .--main & {
        display: block;
        flex-grow: 1;
        text-align: center;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__search {
      flex-grow: 0;
    }
    &__phones {
      margin-right: 48px;
      .--main & {
        margin-right: 0;
      }
    }
    &__menu {
      display: block;
      flex-grow: 1;
      text-align: center;
    }
    &__logo {
      .--main & {
        margin-right: 37px;
      }
      img {
        .--main & {
          width: 236px;
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__logo {
      margin-right: 30px;
    }
    &__phones {
      margin-right: 43px;
    }
    &__lang {
      margin-left: 70px;
    }
    &__nav {
      margin-left: 70px;
    }
    &__menu {
      text-align: right;
      ul {
        li {
          &>a, &>span {
            padding: 0 15px;
          }
        }
      }
      .--main & {
        text-align: right;
      }
    }
  }
}

.lang {
  $this: &;
  position: relative;
  // box-shadow: 0 0 0 1px rgba($primary-color,.3);
  filter: drop-shadow(0px 0 0 rgba($primary-color,.05));
  padding: 2px;
  border-radius: 25px;
  transition: all 0.35s;
  &__head {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    border-radius: 50%;
    background-color: $color-white;
    border: 1px solid rgba($primary-color,.3);
    font-weight: 900;
    font-size: rem(14px);
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: all 0.35s;
    .--main & {
      background-color: transparent;
      border-color: $color-white;
      color: $color-white;
    }
  }
  &__ul {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 2px;
    top: 0;
    left: 0;
    background-color: $color-white;
    border-radius: 25px;
    padding-top: 44px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
    li {
      list-style: none;
      margin: 0;
      &>a, &>span {
        display: block;
        text-align: center;
        height: 40px;
        line-height: 39px;
        border-radius: 50%;
        font-weight: 900;
        font-size: rem(14px);
        text-decoration: none;
        text-transform: uppercase;
        background: $color-white;
        border: 1px solid $color-white;
        transition: all 0.35s;
        &:hover {
          background: $add-color-pink;
          color: $color-white;
          text-decoration: none;
        }
      }
    }
  }
  &:hover {
    #{$this} {
      &__head {
        background: $add-color-blue;
        border-color: $add-color-blue;
        .--main & {
          color: $primary-color;
        }
      }
    }
  }
  &.is-active {
    box-shadow: 0 0 0 0px rgba($primary-color,.3);
    filter: drop-shadow(0px 8px 15px rgba($primary-color,.05));
    #{$this} {
      &__ul {
        visibility: visible;
        opacity: 1;
      }
      &__head {
        background: $add-color-blue;
        border-color: $add-color-blue;
        .--main & {
          color: $primary-color;
        }
      }
    }
  }
}

.logo {
  flex-shrink: 0;
}

.m-search-btn {
  background: #AD009F linear-gradient(270deg, #AD009F 0%, #EA1FD9 100%);
  box-shadow: 0px 6px 15px rgba(233, 31, 216, 0.7);
  border-radius: 100px;
  white-space: nowrap;
  color: $color-white;
  width: 40px;
  height: 40px;
  font-size: rem(13px);
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.35s;
  span {
    display: none;
    font-size: rem(12px);
  }
  &::after {
    font-family: $font-icomoon;
    content: '\e91b';
    font-weight: 400;
    vertical-align: middle;
  }
  @include media-breakpoint-up(md) {
    width: 158px;
    span {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding-right: 10px;
      border-right: 1px solid rgba(#ccc,.3);
      margin-right: 15px;
    }
  }
}

.d-search {
  $this: &;
  display: none;
  background: $color-white;
  box-shadow: 0px 4px 15px rgba($color-black,.05);
  border-radius: 35px;
  position: relative;
  &__date {
    font-size: rem(14px);
    &-btn {
      cursor: pointer;
      display: flex;
      height: 40px;
      &>div {
        background: transparent;
        width: 84px;
        border: 0;
        height: 40px;
        line-height: 40px;
        padding: 0;
        text-align: center;
        color: #6B92A8;
        font-weight: 600;
        &:first-child {
          border-radius: 35px 0 0 35px;
        }
        &:last-child {
          border-left: 1px solid rgba(#CCCCCC,.3);
        }
        &.is-fill {
          color: $primary-color;
        }
      }
    }
    &.is-active {
      #{$this} {
        &__dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
          box-shadow: 0px 10px 25px rgba($color-black,.2);
        }
      }
    }
  }
  &__input {
    &-btn {
      width: 140px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-weight: 600;
      color: #6B92A8;
      font-size: rem(14px);
      border-left: 1px solid rgba(#CCCCCC,.3);
      border-right: 1px solid rgba(#CCCCCC,.3);
      cursor: pointer;
      &.is-fill {
        color: $primary-color;
      }
    }
    &-label {
      display: block;
      margin: 0;
      font-weight: bold;
      font-size: rem(16px);
      line-height: 1;
    }
    &-p {
      margin-bottom: 0;
      color: #A4947E;
      font-size: rem(13px);
      font-weight: 400;
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &.is-active {
      #{$this} {
        &__dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
          box-shadow: 0px 10px 25px rgba($color-black,.2);
        }
      }
    }
  }
  &__btn {
    width: 56px;
    height: 40px;
    border-radius: 0 35px 35px 0;
    background: $color-white;
    padding: 0 0 0 17px;
    text-align: left;
    font-size: rem(13px);
    color: #6B92A8;
    &::before {
      font-family: $font-icomoon;
      content: '\e91b';
      font-weight: 400;
      vertical-align: middle;
    }
  }
  &__dropdown {
    position: absolute;
    width: 440px;
    left: 50%;
    margin-left: -220px;
    top: calc(100% + 30px);
    border-radius: 0 0 6px 6px;
    box-shadow: 0px 0px 0px rgba($color-black,.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.35s;
    &-wrapper {
      background: $color-white;
      border-radius: 6px;
      overflow: hidden;
      // position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      padding: 36px 34px 40px 40px;
    }
    &.--calendar {
      width: 784px;
      margin-left: -392px;
    }
  }
  @include media-breakpoint-up(lg) {
    display: flex;
  }
  @include media-breakpoint-up(xl) {
    &__dropdown, &__dropdown.--calendar {
      left: 0;
      margin-left: 0;
    }
  }
  @media (min-width: 1200px) and (max-width: 1559px) {
    &__date {
      font-size: rem(12px);
      &-btn {
        &>div {
          width: 69px;
        }
      }
    }
    &__input {
      &-btn {
        font-size: rem(12px);
        width: 120px;
      }
    }
    &__btn {
      width: 44px;
      padding-left: 14px;
    }
  }
  
}